---
extends:
  - airbnb
plugins:
 - babel
 - react
parserOptions:
  ecmaFeatures:
    jsx: true
    experimentalObjectRestSpread: true
env:
  browser: true
  node: true
  mocha: true
settings:
  import/resolver:
    webpack:
      config: 'webpack.config.js'
